In [14]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## more on lists

All of the methods of list objects:
- list.**append**(*x*)
  Add an item to the end of the list. Equivalent to `a[len(a):] = [x]`.
- list.**extend**(*iterable*)
  Extend the list by appending all the items from the iterable. Equivalent to `a[len(a):] = iterable`.
- list.**insert**(*i, x*)
  Insert an item at a given position. The first argument is the index of the element before which to insert, so `a.insert(0, x)` inserts at the front of the list, and `a.insert(len(a), x)` is equivalent to `a.append(x)`.
- list.**remove**(*x*)
  Remove the first item from the list whose value is equal to *x*. It raise a ValueError if there is no such item.
- list.**pop**(*[i]*)
  Remove the item at the given position in the list, and return it. If no index is specified, `a.pop()` removes and returns the last item in the list.
- list.**clear**()
  Remove all items from the list. Equivalent to `del a[:]`.
- list.**index**(*x[, start[, end]]*)
  Return zero-based index in the list of the first item whose value is equal to *x*. Raise a ValueError if there is no such item.
- list.**count**(*x*)
  Return the number of times of *x* appears in the list.
- list.**sort**(*, *key=None, reverse=False*)
  Sort the items of the list in place (the arguments can be used for sort customization, see sorted() for their explanation).
- list.**reverse**()
  Reverse the elements of the list in place.
- list.**copy**()
  Return a shallow copy of the list. Equivalent to `a[:]`.

shallow copy?
deep copy?

In [2]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

fruits.count('apple')
fruits.count('tangerine')

fruits.index('banana')
fruits.index('banana', 4)    # Find next banana starting at position 4

fruits.reverse()
fruits

fruits.append('grape')
fruits

fruits.sort()
fruits

fruits.pop()

2

0

3

6

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

'pear'

Not all data can be sorted or compared, For instance, `[None, 'hello', 10]`, integers can't be compared to strings and None can't be compared to other types.

Also, there are some types that don't have a defined ordering relation. For example, `3+4j < 5+7j` isn't a valid comparison.

In [5]:
# use a list as a stack where the last element added is the first element retrieved (LIFO)
stack = [3, 4, 5]

stack.append(6)
stack.append(7)
stack

stack.pop()
stack

stack.pop()
stack.pop()
stack

[3, 4, 5, 6, 7]

7

[3, 4, 5, 6]

6

5

[3, 4]

In [6]:
# use a list as a queue where the first element added is the first element retrieved (FIFO)
from collections import deque
queue = deque(["Eric", "John", "Michael"])

queue.append("Terry")
queue.append("Graham")

queue.popleft()
queue.popleft()

queue

'Eric'

'John'

deque(['Michael', 'Terry', 'Graham'])

In [7]:
# list comprehension to create a list of squares
[square**2 for square in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
# a list comprehension consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses
[(x, y) for x in [1, 2, 3] for y in [3, 1, 4] if x != y]

# it's equivalent to
combs = []
for x in [1, 2, 3]:
    for y in [3, 1, 4]:
        if x != y:
            combs.append((x, y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [12]:
vec = [-4, -2, 0, 2, 4]

# create a new list with the values doubled
[x*2 for x in vec]

# filter the list to exclude negative numbers
[x for x in vec if x >= 0]

# apply a function to all the elements
[abs(x) for x in vec]

# call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[fruit.strip() for fruit in freshfruit]

# create a list of 2-tuple like (number, square)
[(x, x**2) for x in range(6)]

# flatten a list using a list comprehension with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

for elem in vec:
    for num in elem:
        print(num)

[-8, -4, 0, 4, 8]

[0, 2, 4]

[4, 2, 0, 2, 4]

['banana', 'loganberry', 'passion fruit']

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

1
2
3
4
5
6
7
8
9

In [13]:
# list comprehension can contain complex expressions and nested functions
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [15]:
# 3 times 4 matrix implemented as a list of 3 lists of length 4
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

# this list comprehension will transpose rows and columns
[[row[i] for row in matrix] for i in range(4)]

# the inner list comprehension is evaluated in the context of the for that follows it
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

# the same as:
transposed = []
for i in range(4):
    # the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [21]:
# use zip() function
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

## The `del` statement

In [23]:
# remove an item from a list given its index
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

del a[2:4]
a

[1, 66.25, 333, 333, 1234.5]

[1, 66.25, 1234.5]

In [24]:
# del can also be used to delete entire variable
del a

# referencing the name a hereafter is an error (at least until another value is assigned to it)
a

NameError: name 'a' is not defined

## Tuples and Sequences

In [35]:
t = 12345, 54321, 'hello!'
t[0]

t

# Tuples may be nested
u = t, (1, 2, 3, 4, 5)
u

# Tuples are immutable, but they can contain mutable object
v = ([1, 2, 3], [3, 2, 1])
v

a = [-1, 1, 66.25, 333, 333, 1234.5]
v = (a,)
v
type(v)

# when the mutable object in the tuple has changed, the tuple also changed
a.pop()
v

12345

(12345, 54321, 'hello!')

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

([1, 2, 3], [3, 2, 1])

([-1, 1, 66.25, 333, 333, 1234.5],)

tuple

1234.5

([-1, 1, 66.25, 333, 333],)

Tupeles are [immutable](https://docs.python.org/3/glossary.html#term-immutable), and usually contain a *heterogenous* sequence of elements that are accessed via unpacking or indexing.

Lists are [mutable](https://docs.python.org/3/glossary.html#term-mutable), and their elements are usually *homogeneous* and are accessed by iterating over the list.

In [39]:
# tuple that contains 0 or 1 item
empty = ()
singleton = 'hello',

len(empty)
len(singleton)

type(empty)
type(singleton)

empty
singleton

0

1

tuple

tuple

()

('hello',)

In [48]:
# the reverse operation of tuple packing, how does this work???

## Sets

In [49]:
# a set is an unordered collection with no duplicate elements
# basic uses include membership testing and eliminating duplicate entries
# set objects also support mathematical operations like union, intersection, difference, and symmetric difference
# to create an empty set you have to use set()
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)    # show that duplicates have been removed

'orange' in basket    # fast membership testing

'crabgrass' in basket

# Demonstrate set operations on unique letters from two words
a = set('abracadabra')
b = set('alacazam')

a    # unique letters in a

a - b    # letters in a but not in b
a | b    # letters in a or b or both
a & b    # letters in both a and b
a ^ b    # letters in a or b but not both

{'orange', 'pear', 'apple', 'banana'}

True

False

{'a', 'b', 'c', 'd', 'r'}

{'b', 'd', 'r'}

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

{'a', 'c'}

{'b', 'd', 'l', 'm', 'r', 'z'}

In [53]:
# set comprehension
a  = {x for x in 'abracadabra' if x not in 'abc'}
a

len(a)
a.pop()

{'d', 'r'}

2

'd'

## Dictionaries

In [54]:
# a small example using a dictionary:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

tel['jack']

del tel['sape']
tel['irv'] = 4127
tel

list(tel)
sorted(tel)

'guido' in tel
'jack' not in tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

4098

{'jack': 4098, 'guido': 4127, 'irv': 4127}

['jack', 'guido', 'irv']

['guido', 'irv', 'jack']

True

False

In [55]:
# the dict() constructure builds dictionaries directly from sequences of key-value pairs:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [59]:
# dict comprehensions
{x: x**2 for x in range(2, 4, 6)}
{x: 'str'.index(x) for x in 'str'}

{2: 4}

{'s': 0, 't': 1, 'r': 2}

In [61]:
# when the keys are simple strings, it is sometimes easier to specify pairs using keyword arguments
dict(s=0, t=1, r=2)

{'s': 0, 't': 1, 'r': 2}

## Looping Techniques

In [64]:
# using the items method when looping through dictionaries
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [67]:
# when looping through a sequence, the position index and corresponding value can be retrieved at the same time using the enumerate() function
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

for i, v in enumerate('str'):
    print(i, v)

for i, v in enumerate((1, 2, 3)):
    print(i, v)

0 tic
1 tac
2 toe
0 s
1 t
2 r
0 1
1 2
2 3

In [68]:
# to loop over two or more sequence at the same time, the entries can be paired with zip() function
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}? It is {1}'.format(q, a))

What is your name? It is lancelot
What is your quest? It is the holy grail
What is your favorite color? It is blue

In [69]:
# to loop over a sequence in reverse
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [70]:
# loop over a sequence in sorted order, use the sorted() function which returns a new sorted list while leaving the source unaltered
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(basket):
    print(i)

basket

apple
apple
banana
orange
orange
pear

['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

In [72]:
# when loop over a list, it is often safer to leave the source unaltered
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(set(basket)):
    print(i)

import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

filtered_data

apple
banana
orange
pear

[56.2, 51.7, 55.3, 52.5, 47.8]

## More on Conditions