In [3]:
# -*- coding: utf-8 -*-
# declare an encoding

In [4]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# 3. An informal introduction to Python

In [5]:
# interactive mode
the_world_is_flat = True
if the_world_is_flat:
    print("Be careful not to fall off!")

Be careful not to fall off!

## 3.1 Using Python as a calculator

In [9]:
# Numbers
2 + 2
50 - 5*6
(50 - 5*6) / 4
8 / 5    # division always returns a floating point number

4

20

5.0

1.6

In [10]:
# floor divison and remainder
17 / 3    # classic division returns a float
17 // 3    # floor divison discards the fractional part
17 % 3    # the % operator returns the remainder of the divsion
5*3 +2    # floored quotient * divsior + remainder

5.666666666666667

5

2

17

In [11]:
# calulate powers
5 ** 2    # 5 squared
2 ** 7    # 2 to the power of 7

25

128

In [12]:
# the equal sign is used to assign a value to a variable
width = 20
height = 5 * 9
width * height

900

In [14]:
# use an undefined variable will raise NameError
n

NameError: name 'n' is not defined

In [15]:
# operators with mixed type operands conveert the integer operand to floating point
4 * 3.75 - 1

14.0

In [17]:
# The last printed expression value is assigned to the variable _
_

# this variable should be treated as read-only

14.0

In [23]:
# Strings
'spam egg'    # single quotes
'doesn\'t'    # use '\' to escape the single quote...
"doesn't"    # ...or use double quotes instead
'"Yes," they said.'
"\"Yes,\" they said."
'"Isn\'t," they said.'

'spam egg'

"doesn't"

"doesn't"

'"Yes," they said.'

'"Yes," they said.'

'"Isn\'t," they said.'

In [24]:
# the print() function produce a more readable output
'"Isn\'t," they said.'
print('"Isn\'t," they said.')
s = 'First line.\nSecond line.'    # \n means newline
s    # without print(), \n is included in the output
print(s)    # with print(), \n produces a new line

'"Isn\'t," they said.'

"Isn't," they said.

'First line.\nSecond line.'

First line.
Second line.

In [25]:
# use raw strings by adding an r before the first quote
print('C:\some\name')    # here \n means newline!
print(r'C:\some\name')    # note the r before the quote

C:\some
ame
C:\some\name

In [26]:
# using triple-quotes to span multiple lines
print("""
Usage: thingy [OPTIONS]
    -h                       Display this usage message
    -H hostname              Hostname to connect to
""")

Usage: thingy [OPTIONS]
    -h                       Display this usage message
    -H hostname              Hostname to connect to

In [27]:
# strings can be concatenated (glued together) with the + operator, and repeat with *:
3 * 'un' + 'ium'

'unununium'

In [29]:
# two or more string literals next to each other are automatically concatenated
'py' 'thon'
"Py" 'thon'

# this feature can be used to break long strings
text = (
    'Put several strings within parentheses '
    'to have them joined together.'
)
text

'python'

'Python'

'Put several strings within parentheses to have them joined together.'

In [30]:
# use + to concatenate variables or variable and a literal
prefix = 'Py'
prefix + 'thon'

'Python'

In [37]:
# strings can be indexed(subscripted) with the first character having index 0, a character is simply a string of size one
word = 'Python'
word[0]    # character in position 0
word[5]    # character in position 5

# indices may also be negative numbers, to start counting from the right
word[-1]    # last character
word[-2]    # second-last character
word[-6]

# slicing strings to obtain substring
word[:2]    # characters from position 0 (included) to 2 (excluded)
word[2:5]    # characters from position 2 (included) to 5 (excluded)

# slice indices have useful defaults
word[4:]    # characters from position 4 (included) to the end
word[-2:]    # character from the second-last (included) to the end

# s[:i] + s[i:] is always equal to s
word[:2] + word[2:] == word

'P'

'n'

'n'

'o'

'P'

'Py'

'tho'

'on'

'on'

True

In [39]:
# strings are immutable, assign to an indexed position in the string results in an error
word[0] = 'J'

TypeError: 'str' object does not support item assignment

In [40]:
# the built-in function len() returns the length of a string
len(word)

6

In [47]:
# lists might contain items of different types, but usually the items all have the same type
squares = [1, 4, 9, 16, 25]
squares

# like strings (and all other built-in sequence types), lists can be indexed and sliced:
squares[0]
squares[-1]
squares[-3:]

# all slice operations return a new list containing the requested elements
shallow_squares = squares[:]    # returns a shallow copy of the list
id(squares)    # memory id of squares
id(shallow_squares)    # memory id of shallow_squares that shallow_copied from squares
shallow_squares == squares    # '==' used to identify if two variables have the same value
shallow_squares is squares    # 'is' used to identify if two variables are the same objects in memories

another_squares = [1, 4, 9, 16, 25]
id(another_squares)

another_squares == squares
another_squares is squares

[1, 4, 9, 16, 25]

1

25

[9, 16, 25]

4552940096

4554442752

True

False

4547827264

True

False

In [48]:
# list also support operations like concatenation
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [51]:
# lists are mutable type
cubes = [1, 8, 27, 65, 125]
4 ** 3    # the cube of 4 is 64, not 65!

cubes[3] = 64
cubes

# add new items at the end of the list by using the append() method
cubes.append(216)    # add the cube of 6
cubes.append(7 ** 3)
cubes

64

[1, 8, 27, 64, 125]

[1, 8, 27, 64, 125, 216, 343]

In [52]:
# list slices assignment, this can change the size of the list or clear it entirely
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

# now remove them
letters[2:5] = []
letters

# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

['a', 'b', 'C', 'D', 'E', 'f', 'g']

['a', 'b', 'f', 'g']

[]

In [53]:
# apply built-in function len() to lists
letters = ['a', 'b', 'c', 'd']
len(letters)

# nest lists
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

x[0]
x[0][1]

4

[['a', 'b', 'c'], [1, 2, 3]]

['a', 'b', 'c']

'b'

## 3.2 First Steps towards programming

In [59]:
# Fibonacci series:
# the sum of two elements defines the next

def fibo(num):
    a, b = 0, 1    # multiple assignment
    # any non-zero integer value is true, anything with a non-zero length is true
    # standard comparison operators: <(less then), >(great than), ==(equal to), !=(not equal to)..
    while a < num:    # the while loop executes as long as the condition remains true
        # the body of the loop is indented: indention is Python's way of grouping statements
        print(a, end=',')    # the argument end can be used to avoid the newline after the output
        a, b = b, a+b    # the expressions on the right-hand side are all evaluated first before any of the assignments take place

fibo(1000)

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [57]:
# use print() function to format things nicely
i = 256*256
print('The value of i is', i)

The value of i is 65536